* {
  box-sizing: border-box;
}

.main {
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
  --millenial-pink: #f7cac9;
  --peach: #f7d6c9;
  --plum: #614e55;
  background-color: var(--millenial-pink);
  color: var(--plum);
}

.main-heading {
  color: var(--plum);
  font-weight: 800;
}

.blog-post ul {
  list-style-type: none;
}
