.App {
  min-height: 100vh;
}

/*
* {
  border: 1px solid red !important;
}
*/

body {
  background-image: url("/websitebackground.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  margin: 0px;
  font-family: "Lato", sans-serif;
  color: white;
}

.main-header-logo {
  font-family: "Playfair Display", sans-serif;
}

.container {
  width: 960px;
  max-width: 100%;

  margin: 0 auto;
}

.main-header .container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  position: sticky;
  top: 0;
}

.main-nav ul {
  margin: 1em 0 0.5em;
  text-align: center;
}
.main-nav li {
  display: inline;
}
.main-nav a {
  display: inline-block;
  padding: 0.5em 1.5em;
}

.body-h2 {
  font-family: "Playfair Display", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
}

.body-h3 {
  font-style: normal;
  font-weight: normal;
}

.description {
  width: 500px;
}

.check-out-work-label {
}

@media (min-width: 960px) {
  .main-header .container {
    justify-content: space-between;
  }
}
