.App {
  min-height: 100vh;
  --accent-red: hsl(356deg 86% 55%);
}

/*
* {
  border: 1px solid red !important;
}
*/

body {
  margin: 0px;
  font-family: "Lato", sans-serif;
}

.intro {
  background-image: url("/websitebackground.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  min-height: 100vh;
  background-position: bottom left;
}

.main-header-logo a {
  font-family: "Playfair Display", sans-serif;
  color: white;
  font-size: 30px;
  text-decoration: none;
}

.main-header-logo a:hover {
  color: var(--accent-red);
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  position: sticky;
  top: 0;
  padding-left: 32px;
  padding-right: 32px;
}

.main-nav ul {
  margin: 1em 0 0.5em;
  text-align: center;
}

.main-nav li {
  display: inline;
}

.main-nav a {
  display: inline-block;
  padding: 0.5em 1.5em;
  color: black;
  text-decoration: none;
}

.main-nav a:hover {
  color: var(--accent-red);
}

.intro-container {
  padding-left: 64px;
  padding-top: 8vh;
}

.intro-h1 {
  width: 400px;
  font-family: "Playfair Display", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  color: white;
}

.intro-h2 {
  width: 400px;
  font-style: normal;
  font-weight: normal;
  color: white;
}

.intro-p {
  width: 400px;
  color: white;
}

.intro-link-to-more a {
  color: white;
  text-decoration: none;
}

.intro-link-to-more a:hover {
  color: var(--accent-red);
}

.page2-container {
  padding-left: 64px;
  padding-top: 76px;
  background-size: cover;
  display: block;
  min-height: 100vh;
}

.page2-h5 {
  font-size: 14px;
  font-weight: 400;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: top;
}

.page2-h3 {
  font-family: "Lato", sans-serif;
  font-size: 28px;
  font-weight: 900;
}

.page2-p {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: darkgrey;
  width: 400px;
}

.page2-link-to-more a {
  font-size: 14px;
  font-weight: 700;
  color: black;
  text-decoration: none;
}

.page2-link-to-more a:hover {
  color: var(--accent-red);
}

@media (max-width: 660px) {
  .main-header {
    padding-left: 10px;
    padding-right: 10px;
  }
  .main-nav ul {
    display: flex;
    flex-direction: column;
  }
  .main-nav li {
    flex-direction: column;
  }
  .main-nav a {
    padding-top: 4px;
    padding-bottom: 4px;
  }
  .intro-container {
    padding-left: 10px;
  }
  .page2-container {
    padding-left: 10px;
  }
}
